@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 20px; /* Espacio entre las cartas */
    width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor */
}


.card {
    background-color: #687479;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
    cursor: pointer;
}

.pagination span {
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.pagination .active-page {
    color: #b74555;
    font-weight: bold;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.right-content {
    width: 35%;
    position: sticky;
    top: 100px;
    background-color: rgb(180, 180, 180); /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 20px; /* Espacio interno */
    margin-left: 20px; /* Espacio entre el contenedor izquierdo y derecho */
}


.right-content img {
    margin: 3rem;
    height: 300px;
}

.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.abilities {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group {
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}

.base-stat {
    margin-top: 2rem;
}

.btn-group {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .left-content, .right-content {
        width: 100%;
    }
    .right-content {
        position: static;
    }
}
